- name: Wait for CoreDNS
  become_user: ubuntu
  command: kubectl wait --for=condition=Ready pods -n kube-system -l k8s-app=kube-dns --timeout=600s

- name: Wait for Calico nodes
  become_user: ubuntu
  command: kubectl wait --for=condition=Ready pods -n kube-system -l k8s-app=calico-node --timeout=600s

- name: Wait for kube-proxy
  become_user: ubuntu
  command: kubectl wait --for=condition=Ready pods -n kube-system -l k8s-app=kube-proxy --timeout=600s
- name: Install Helm
  shell: |
    if ! command -v helm; then
      curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
    fi

- name: Deploy Prometheus stack
  become_user: ubuntu
  shell: |
    helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
    helm repo update
    helm upgrade --install prometheus prometheus-community/kube-prometheus-stack \
      --namespace monitoring \
      --create-namespace
