- name: Attendre que le verrou APT soit libéré
  shell: while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  changed_when: false

- name: Réparer les installations de paquets interrompues
  shell: |
    dpkg --configure -a
    apt-get install -f -y
  ignore_errors: yes

- name: Supprimer les anciens dépôts Kubernetes
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/sources.list.d/kubernetes.list
    - /etc/apt/keyrings/kubernetes-apt-keyring.asc

- name: Désactiver le Swap
  shell: |
    swapoff -a
    sed -i '/\sswap\s/ s/^\(.*\)$/#\1/g' /etc/fstab
  when: ansible_swaptotal_mb > 0

- name: Charger les modules noyau
  modprobe:
    name: "{{ item }}"
    state: present
  loop: [overlay, br_netfilter]

- name: Configurer le sysctl pour le réseau
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: yes
  loop:
    - { key: 'net.bridge.bridge-nf-call-iptables', value: '1' }
    - { key: 'net.ipv4.ip_forward', value: '1' }

- name: Créer le répertoire keyrings
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Configurer le dépôt Kubernetes (v1.29)
  shell: |
    curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg --yes
    echo "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /" > /etc/apt/sources.list.d/kubernetes.list

- name: Installer Docker et les outils K8s
  apt:
    name: [docker.io, kubelet, kubeadm, kubectl]
    state: present
    update_cache: yes

- name: Configurer Docker (Cgroup systemd)
  copy:
    dest: /etc/docker/daemon.json
    content: |
      {
        "exec-opts": ["native.cgroupdriver=systemd"],
        "log-driver": "json-file",
        "storage-driver": "overlay2"
      }

- name: Installer et démarrer cri-dockerd
  block:
    - name: Télécharger cri-dockerd
      shell: |
        cd /tmp
        curl -L -o cri-dockerd.deb https://github.com/Mirantis/cri-dockerd/releases/download/v0.3.10/cri-dockerd_0.3.10.3-0.ubuntu-jammy_amd64.deb
    - name: Installer le paquet .deb
      apt:
        deb: /tmp/cri-dockerd.deb
        state: present
    - name: Redémarrer les services
      systemd:
        name: "{{ item }}"
        state: restarted
        enabled: yes
        daemon_reload: yes
      loop: [docker, cri-docker]

- name: Initialiser le Master Kubernetes
  command: >
    kubeadm init --pod-network-cidr=192.168.0.0/16 
    --token={{ token }} 
    --cri-socket unix:///var/run/cri-dockerd.sock 
    --ignore-preflight-errors=all
  args:
    creates: /etc/kubernetes/admin.conf
  when: "'master' in ansible_hostname"

- name: Joindre le Worker au Cluster
  command: >
    kubeadm join {{ master_ip }}:6443 
    --token={{ token }} 
    --discovery-token-unsafe-skip-ca-verification 
    --cri-socket unix:///var/run/cri-dockerd.sock
  args:
    creates: /etc/kubernetes/kubelet.conf
  when: "'worker' in ansible_hostname"
