---
# A. Nettoyage et Préparation
# -------------------------------------------------------------------------
- name: Nettoyer les résidus CNI et verrous
  shell: |
    rm -rf /etc/cni/net.d/*
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  ignore_errors: yes

# B. Initialisation (Master)
# -------------------------------------------------------------------------
- name: Initialiser le Master
  command: >
    kubeadm init --pod-network-cidr=192.168.0.0/16
    --token={{ token }}
    --cri-socket unix:///var/run/cri-dockerd.sock
    --ignore-preflight-errors=all
  args:
    creates: /etc/kubernetes/admin.conf
  when: node_role == "master"

- name: Configurer Kubeconfig
  shell: |
    mkdir -p /home/ubuntu/.kube
    cp /etc/kubernetes/admin.conf /home/ubuntu/.kube/config
    chown ubuntu:ubuntu /home/ubuntu/.kube/config
  when: node_role == "master"

# C. Réseau Calico (La base de la communication)
# -------------------------------------------------------------------------
- name: Installer Calico via l'Opérateur
  become: yes
  become_user: ubuntu
  shell: |
    kubectl create -f https://raw.githubusercontent.com/projectcalico/calico/v3.27.0/manifests/tigera-operator.yaml
    sleep 10
    kubectl create -f https://raw.githubusercontent.com/projectcalico/calico/v3.27.0/manifests/custom-resources.yaml
  when: node_role == "master"
  ignore_errors: yes

# D. Jointure (Worker)
# -------------------------------------------------------------------------
- name: Joindre le Cluster
  command: >
    kubeadm join {{ master_ip }}:6443
    --token={{ token }}
    --discovery-token-unsafe-skip-ca-verification
    --cri-socket unix:///var/run/cri-dockerd.sock
  args:
    creates: /etc/kubernetes/kubelet.conf
  when: node_role == "worker"
