---
# 1. NETTOYAGE DES ANCIENNES CONFIGURATIONS
- name: Supprimer l'ancien dépôt Kubernetes et sa clé (évite les erreurs 404/GPG)
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/sources.list.d/kubernetes.list
    - /etc/apt/keyrings/kubernetes-apt-keyring.asc

# 2. PRÉPARATION DU SYSTÈME (SWAP & MODULES)
- name: Désactiver le swap immédiatement
  command: swapoff -a
  when: ansible_swaptotal_mb > 0

- name: Supprimer le swap du fichier fstab pour le reboot
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+.*)$'
    replace: '# \1'

- name: Charger les modules bridge et overlay
  modprobe:
    name: "{{ item }}"
    state: present
  loop: [ 'overlay', 'br_netfilter' ]

- name: Configurer les paramètres sysctl pour le réseau (IPv4 forward & bridge)
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/k8s.conf
    reload: yes
  loop:
    - { key: 'net.bridge.bridge-nf-call-iptables', value: '1' }
    - { key: 'net.bridge.bridge-nf-call-ip6tables', value: '1' }
    - { key: 'net.ipv4.ip_forward', value: '1' }

# 3. INSTALLATION DU RUNTIME ET DES OUTILS
- name: Installer Docker
  apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Créer le dossier pour la clé de dépôt K8s
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Télécharger la clé GPG officielle Kubernetes
  get_url:
    url: https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key
    dest: /etc/apt/keyrings/kubernetes-apt-keyring.asc
    mode: '0644'

- name: Ajouter le dépôt Kubernetes v1.29
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.asc] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /"
    state: present
    filename: kubernetes

- name: Installer kubelet, kubeadm et kubectl
  apt:
    name: [kubelet, kubeadm, kubectl]
    state: present
    update_cache: yes

# 4. INITIALISATION DU CLUSTER (UNIQUEMENT SUR LE MASTER)
- name: Initialiser le Master Kubernetes
  command: kubeadm init --pod-network-cidr=10.244.0.0/16
  register: kubeadm_init
  when: "'master' in ansible_hostname"
  args:
    creates: /etc/kubernetes/admin.conf

- name: Configurer kubectl pour l'utilisateur ubuntu
  shell: |
    mkdir -p /home/ubuntu/.kube
    cp -i /etc/kubernetes/admin.conf /home/ubuntu/.kube/config
    chown ubuntu:ubuntu /home/ubuntu/.kube/config
  when: "'master' in ansible_hostname"

- name: Installer le réseau de Pods (Flannel)
  become: false
  command: kubectl apply -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
  when: "'master' in ansible_hostname"
